<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="myBeepr_suite">
  <test name="myBeepr_test">
	<parameter name="properties" value="iPhone11promax13.3simulator"></parameter>
	<parameter name="username" value="test@mybeepr.com"></parameter>
	<parameter name="password" value="myBeepr123"></parameter>
	<classes>
      <class name="tests.LoginTest">
      	<methods>
      		<include name="loginTest"/>
      		<include name="signup"/>
      	</methods>
      </class>
    </classes>
  </test>
</suite>
